!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#error

		%main{:role => "main", "data-container" => true}

			%section.error_404.center_parent

				%article.center_child
					%h4 Error 404
					%p You in the wrong place homie.
					%a.button{:href => "index.html", :title => "Return home"} Back Away

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render