!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		#svgInject
			/ inject:svg
			/ endinject

		%header
			%h1 NA
			%h2.subhead-1 Design Concepts
			%h2.subhead-2 For Sandwich

		%main{:role => "main", "data-container" => true}

			%section#content.content{"data-container" => "width_720"}

				%article

					%p Hello. If you have stumbled up this page looking for some concepts to review, you will need to refer to the link provided in our email. Thanks.

			%section#clients.list

				%article

					%ul.list_links
						%li
							%a{:href => "client.html", :title => "Sandwich"} Sandwich
						%li
							%a{:href => "client.html", :title => "Northman"} Northman
						%li
							%a{:href => "client.html", :title => "North and Navy"} North &amp; Navy

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render