!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#protected

		%main{:role => "main", "data-container" => true}

			%section.password
				= Haml::Engine.new(File.read("dev/haml/partials/_form_password.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render