// ==|== media queries ========================================================
// WIDTHS: 480px / 568px / 960px / 1170px
// ============================================================================

@media only screen and (min-width: 480px) {

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-bottom: 4rem;
	}

	// Home Page
	// ----------------------------------------------------------------------------
	main[data-container] {
		max-width: 117rem; // 1106px + padding (32px x 2)
	}
	section.packery div.gutter-sizer {
		width: 3.571429%; // 16 / 448
		visibility: visible;
	}
	section.packery article {
		margin-bottom: 4rem;
		width: 30.952381%;
	}

}

@media only screen and (min-width: 960px) {

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		padding-bottom: 10rem;
	}

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding: 10rem 3.2rem;
	}

	// Home Page
	// ----------------------------------------------------------------------------
	main[data-container] {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}

	// Gallery
	// ----------------------------------------------------------------------------
	nav h4 {
		top: 2.3rem;
		left: 3.2rem;
		visibility: visible;
	}
	aside[data-modal="gallery"].img_loaded nav h4 {
		opacity: 1;
	}

}

@media only screen and (min-width: 1170px) {

	// Home Page
	// ----------------------------------------------------------------------------
	section.packery div.gutter-sizer {
		width: 6.871609%;
	}
	section.packery article {
		margin-bottom: 3.2rem;
		width: 28.75226%;
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/