// SASS Variables
// ----------------------------------------------------------------------------
$hsl_gold:    hsl(41,44%,61%);
$hsl_ash:     hsl(180,6%,96%);

$hsla_ash-96: hsla(180,6%,96%,0.96);

$hsl_L100:    hsl(0,0%,100%);
$hsl_L40:     hsl(0,0%,40%);
$hsl_L21:     hsl(0,0%,21%);
$hsl_L0:      hsl(0,0%,0%);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';