// SASS Variables
// ----------------------------------------------------------------------------
$hsl_gold:    hsla(41,44%,61%,1);
$hsl_ash:     hsla(180,6%,96%,1);

$hsla_ash-96: hsla(180,6%,96%,0.96);

$hsl_L100:    hsla(0,0%,100%,1);
$hsl_L40:     hsla(0,0%,40%,1);
$hsl_L21:     hsla(0,0%,21%,1);
$hsl_L0:      hsla(0,0%,0%,1);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';