// SASS Variables
// ----------------------------------------------------------------------------
$hsla_gold:    hsla(41,44%,61%,1);
$hsla_gold-D:  hsla(41,44%,51%,1);

$hsla_ash:     hsla(180,6%,96%,1);
$hsla_ash-A96: hsla(180,6%,96%,0.96);

$hsla_L100:    hsla(0,0%,100%,1);
$hsla_L40:     hsla(0,0%,40%,1);
$hsla_L21:     hsla(0,0%,21%,1);
$hsla_L0:      hsla(0,0%,0%,1);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';