%form{:action => "http://clients.armystage.com/wp-login.php?action=postpass", :method => "post"}
	%label{:for => "pwbox-2"} What’s The Magic Word?
	%input#pwbox-2{:type => "password", :name => "post_password", :size => "20", :maxlength => "20", :placeholder => "Password..."}
	%input.button{:name => "Submit", :value => "Submit", :type => "submit"}