%section#packery.packery

	.gutter-sizer

	%article#post-1.packery_block
		%a.gallery_link{:href => "assets/img/01_golden_sandwich.png", "data-gallery" => "0", :title => "01 &ndash; Golden Sandwich"}
			%img{:src => "assets/img/01_golden_sandwich_thumb.png", :alt => "01 &ndash; Golden Sandwich"}
			%h3 01 &ndash; Golden Sandwich

	%article#post-2.packery_block
		%a.gallery_link{:href => "assets/img/02a_glasses.png", "data-gallery" => "1", :title => "02a &ndash; Glasses"}
			%img{:src => "assets/img/02a_glasses_thumb.png", :alt => "02a &ndash; Glasses"}
			%h3 02a &ndash; Glasses

	%article#post-3.packery_block
		%a.gallery_link{:href => "assets/img/02c_hollywood.png", "data-gallery" => "2", :title => "02c &ndash; Hollywood"}
			%img{:src => "assets/img/02c_hollywood_thumb.png", :alt => "02c &ndash; Hollywood"}
			%h3 02c &ndash; Hollywood

	%article#post-4.packery_block
		%a.gallery_link{:href => "assets/img/03.png", "data-gallery" => "3", :title => "03"}
			%img{:src => "assets/img/03_thumb.png", :alt => "03"}
			%h3 03

	%article#post-5.packery_block
		%a.gallery_link{:href => "assets/img/03b.png", "data-gallery" => "4", :title => "03b"}
			%img{:src => "assets/img/03b_thumb.png", :alt => "03b"}
			%h3 03b

	%article#post-6.packery_block
		%a.gallery_link{:href => "assets/img/03c.png", "data-gallery" => "5", :title => "03c"}
			%img{:src => "assets/img/03c_thumb.png", :alt => "03c"}
			%h3 03c

	%article#post-7.packery_block
		%a.gallery_link{:href => "assets/img/04a_classic.png", "data-gallery" => "6", :title => "04a &ndash; Classic"}
			%img{:src => "assets/img/04a_classic_thumb.png", :alt => "04a &ndash; Classic"}
			%h3 04a &ndash; Classic

	%article#post-8.packery_block
		%a.gallery_link{:href => "assets/img/04b_navy.png", "data-gallery" => "7", :title => "04b &ndash; Navy"}
			%img{:src => "assets/img/04b_navy_thumb.png", :alt => "04b &ndash; Navy"}
			%h3 04b &ndash; Navy

	%article#post-9.packery_block
		%a.gallery_link{:href => "assets/img/04c_salmon.png", "data-gallery" => "8", :title => "04c &ndash; Salmon"}
			%img{:src => "assets/img/04c_salmon_thumb.png", :alt => "04c &ndash; Salmon"}
			%h3 04c &ndash; Salmon

	%article#post-10.packery_block
		%a.gallery_link{:href => "assets/img/04d_sand.png", "data-gallery" => "9", :title => "04d &ndash; Sand"}
			%img{:src => "assets/img/04d_sand_thumb.png", :alt => "04d &ndash; Sand"}
			%h3 04d &ndash; Sand

	%article#post-11.packery_block
		%a.gallery_link{:href => "assets/img/04e_red.png", "data-gallery" => "10", :title => "04e &ndash; Red"}
			%img{:src => "assets/img/04e_red_thumb.png", :alt => "04e &ndash; Red"}
			%h3 04e &ndash; Red

	%article#post-12.packery_block
		%a.gallery_link{:href => "assets/img/04f_blue.png", "data-gallery" => "11", :title => "04f &ndash; Blue"}
			%img{:src => "assets/img/04f_blue_thumb.png", :alt => "04f &ndash; Blue"}
			%h3 04f &ndash; Blue

	%article#post-13.packery_block
		%a.gallery_link{:href => "assets/img/04g_blacktie.png", "data-gallery" => "12", :title => "04g &ndash; Black Tie"}
			%img{:src => "assets/img/04g_blacktie_thumb.png", :alt => "04g &ndash; Black Tie"}
			%h3 04g &ndash; Black Tie

	%article#post-14.packery_block
		%a.gallery_link{:href => "assets/img/05a.png", "data-gallery" => "13", :title => "05a"}
			%img{:src => "assets/img/05a_thumb.png", :alt => "05a"}
			%h3 05a

	%article#post-15.packery_block
		%a.gallery_link{:href => "assets/img/05b_navygold.png", "data-gallery" => "14", :title => "05b &ndash; Navy Gold"}
			%img{:src => "assets/img/05b_navygold_thumb.png", :alt => "05b &ndash; Navy Gold"}
			%h3 05b &ndash; Navy Gold