%section#packery.packery

	.gutter-sizer

	%article#post-1.packery_block
		%a.gallery_link{:href => "assets/img/v3_01.jpg", "data-gallery" => "0", :title => "v3 &ndash; 01"}
			%img{:src => "assets/img/v3_01_thumb.jpg", :alt => "v3 &ndash; 01"}
			%h3 v3 &ndash; 01

	%article#post-2.packery_block
		%a.gallery_link{:href => "assets/img/v3_02.jpg", "data-gallery" => "1", :title => "v3 &ndash; 02a"}
			%img{:src => "assets/img/v3_02_thumb.jpg", :alt => "v3 &ndash; 02a"}
			%h3 v3 &ndash; 02a

	%article#post-3.packery_block
		%a.gallery_link{:href => "assets/img/v3_02b.jpg", "data-gallery" => "2", :title => "v3 &ndash; 02b"}
			%img{:src => "assets/img/v3_02b_thumb.jpg", :alt => "v3 &ndash; 02b"}
			%h3 v3 &ndash; 02b

	%article#post-4.packery_block
		%a.gallery_link{:href => "assets/img/v3_03.jpg", "data-gallery" => "3", :title => "v3 &ndash; 03"}
			%img{:src => "assets/img/v3_03_thumb.jpg", :alt => "v3 &ndash; 03"}
			%h3 v3 &ndash; 03

#packery_loader.loader_overlay.visible
	.wrap_svg
		%svg.ui_loader
			%use{"xlink:href" => "#ui_loader"}