%section#comps.list

	%article

		%ul.list_links
			%li
				%a{:href => "comps.html", :title => "V1"} V1
			%li
				%a{:href => "comps.html", :title => "V2"} V2
			%li
				%a{:href => "comps.html", :title => "V3"} V3